

.table {

  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: .5em;
  column-gap: 1em;
  align-items: center;
  margin: .5em 0 .5em 0;

  .row {
    display: contents;
  }

}

.info {
  flex-grow: 1;
  p {
    margin: 0;
  }
  p + p {
    margin-top: 1em;
  }
}

.controls {

  & > div {
    padding: .5em 0;
  }

  .centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5em;
  }

}


